.cartContainer {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
}

.cartContainer li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex: 1;
    flex-wrap: wrap;
    height: 30em;
}

.cartContainer li span:first-of-type {
    width: 10em;
}

.cartContainer ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.cartContainer .imgContainer {
    width: 6em;
}

.cartContainer img {
    width: 100%;
    object-fit:fill;
}

.cartContainer :last-child {
    text-align: end;
}


