.itemContainer {
   border: 1px solid green; 
   max-width: 20em;
   max-height: fit-content;
}

.imgContainer {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    height: 60%;
}

.imgContainer img {
    width: 80%;
    height: auto;
    object-fit: cover;
}