.itemContainer {
   border: 1px solid green; 
   max-width: 20em;
   min-height: fit-content;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.imgContainer {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    height: 50%;
}

.imgContainer img {
    width: 80%;
    height: auto;
    object-fit:cover;
}